<section>
  <div class="pt-20 pb-4 bg-gray-50 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="mb-16 max-w-md mx-auto text-center">
        <span class="text-green-600 font-bold">Dolor sit amet consectutar</span>
        <h2 class="text-4xl md:text-5xl font-bold">Build & Launch without problems</h2>
      </div>
    </div>
  </div>
</section>